@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 50% 12%;
    --foreground: 260 20% 98%;
    --card: 260 50% 18%;
    --card-foreground: 260 20% 98%;
    --popover: 260 50% 10%;
    --popover-foreground: 260 20% 98%;
    --primary: 260 80% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 28%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 10% 28%;
    --muted-foreground: 210 5% 63%;
    --accent: 30 90% 60%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 10% 28%;
    --input: 210 10% 28%;
    --ring: 260 80% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 260 50% 12%;
    --foreground: 260 20% 98%;
    --card: 260 50% 18%;
    --card-foreground: 260 20% 98%;
    --popover: 260 50% 10%;
    --popover-foreground: 260 20% 98%;
    --primary: 260 80% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 28%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 10% 28%;
    --muted-foreground: 210 5% 63%;
    --accent: 30 90% 60%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 10% 28%;
    --input: 210 10% 28%;
    --ring: 260 80% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply text-sm md:text-base;
  }
  body {
    @apply bg-background text-foreground;
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

@layer utilities {
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}